<%= image_tag "logo003.png"%>
<hr>
<table id="expense" class="tablesorter">
 <thead>
  <tr>
    <th>Expense</th>
    <th>Deposit/Withdrew</th>
    <th>Amount</th>
    <th></th>
  </tr>
 </thead>
<% @expenses.each do |expense| %>
 <tbody>
  <tr>
    <td><%= expense.item %></td>
    
	<% if expense.addition == true %>
	<td>Deposit</td>
	<% else %>
    <td>Withdrew</td>
	<% end %>
    <!--<td><%= link_to 'Show', expense %></td>
    <td><%= link_to 'Edit', edit_expense_path(expense) %></td>-->
	<td><%= number_to_currency(expense.amount) %></td>
    <td><%= link_to 'Remove', expense, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
	<tr>
		<td></td>
		<td style="text-align:right;">Total Amount:</td>
		<!--<td><%= number_to_currency(Expense.sum('amount', :conditions => {:addition => true})) %></td>-->
		<td><%= number_to_currency(@results) %></td>
		<td></td>
	</tr>
 </tbody>
</table>
<hr>

<br />
<input type="button" value="Add Deposit/Expense" class="show_hide">
<div class="addform">
<%= render(:partial => 'form') %>
</div>