<div>
<%= image_tag "logo003.png"%>
<input type="button" value="Add Deposit/Expense" class="show_hide">
<span style="text-align:right;">Current Total:<%= number_to_currency(@results) %></span>
</div>
<div class="addform">
<%= render(:partial => 'form') %>
</div>
<hr>
<table id="expense" class="tablesorter">
 <thead>
  <tr>
	<th>Date Added</th>
    <th>Expense</th>
    <th>Deposit/Withdrew</th>
    <th>Amount</th>
    <th></th>
  </tr>
 </thead>
 <tbody>
<% @expenses.each do |expense| %>
  <tr>
	<td><%= expense.updated_at.localtime.strftime('* %a, %b %-e, %Y @ %l:%M%p') %></td>
    <td><%= expense.item %></td>
    
	<% if expense.addition == true %>
	<td>Deposit</td>
	<% else %>
    <td>Withdrew</td>
	<% end %>
    <!--<td><%= link_to 'Show', expense %></td>
    <td><%= link_to 'Edit', edit_expense_path(expense) %></td>-->
	<td><%= number_to_currency(expense.amount) %></td>
    <td><%= link_to 'Remove', expense, confirm: 'Ok to Remove this Expense/Deposit?', method: :delete %></td>
  </tr>
<% end %>
 </tbody>
	<tr>
		<td></td>
		<td style="text-align:right;">Total Amount:</td>
		<td><%= number_to_currency(@results) %></td>
		<td></td>
		<td></td>
	</tr>
</table>
<hr>

<br />
